{% extends 'main/base.html'%}
    {% block content %}

    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <a href="{% url 'blog-home' %}">Back to Home</a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h3 class="card-title">{{object.entry_title}}</h3>
            <p class="card-text">{{object.entry_text|linebreaks}}</p>
        
          </div>
          <div class="card-footer text-muted">
            Posted on {{object.entry_date}} by
            <span class= "text-info mr-2">{{object.entry_author}}</span>
          </div>
        </div>

        <!-- Pagination -->
  
      </div>

      {% endblock %}