<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/5/q/5qiajui7s6.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body, html {
height: 100%;
}

.bg {
  padding: 0px;
  margin: 0px;
/* The image used */
background-image: url("https://images.hdqwalls.com/wallpapers/marshmello-4k-do.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
  </style>
</head>
<body>
  <div class="bg">
    <div class="container">
      <h1 class="center" style="color:white;background-color: #249e98;padding: 10px;display:inline-block;position: relative;top: 5%;margin: 0px 32% 0px 32%;"><u><strong>Create New Author</strong></u></h1>
      <br><br>
    {% if success %}
        <h5>form submitted successfully</h5>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1"><strong>Enter Author Name:</strong></label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" placeholder="enter your name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1"><strong>Enter Author's Email Address:</strong></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="enter email address">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <h5><a href="{% url 'index' %}">go to main</a></h5>
</div>
</div>
</body>
</html>