{% extends 'main/base.html'%}
    {% block content %}

    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <a href="{% url 'blog-home' %}">Back to Home</a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
            Create Blog Post
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-primary">Post Entry</button>
            </form>
          </div>
        </div>

        <!-- Pagination -->
  
      </div>

      {% endblock %}