<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f2640cf13.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Red+Rose&display=swap" rel="stylesheet">




	<style type="text/css">
		
		body{
			background-color:#ffd5cd;
		}
		
		span{
			color: #1f4068;;
		}
		.conta{
    	text-align: center;
    	margin: 4% 0 4%;
    	 color: #59405c;
	}
	.cont{
    	padding-left: 20%;
    	padding-right: 20%;
	}
	.meet{
		text-align:left;
		margin:50px 20px;
		font-family: 'Grandstander', cursive;
	}
	.contac{
    	color: #59405c;
	}
	.contac:hover{
    	color: #00bcd4;
	}
	a{
    text-decoration: none;
    color: #3c2c3e;
    font-weight: 900;
}
a:hover{
    color: #d54062;
     text-shadow: 0 2px;
}

	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/login">Start Tracking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if current_user.is_authenticated %}
      	             <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
        {% else %}

 
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">

	<center><h3>Hey Everyone !</h3></center>
	<center><h1 style="font-family:  'Ranchers', cursive;margin-top:20px;color: #1f4068;font-size:300%">I  am  Arpan  Malik</h1></center>

		<center><h1 class="display-1" style="font-family: 'Ranchers', cursive; margin-top:100px;color:rgb(150,150,150)">About Me</h1>
	<h4 style="margin:100px">
		<center>Hi, I am <span>Arpan Malik</span>.Currently I'm pursuing my B.Tech in CSE branch from <a href="https://www.akgec.ac.in/"> Ajay Kumar Garg Engineering College</a>,Ghaziabad. I develop this project during probation period as a <span ><a href="https://www.bdcoe.co.in">bdcoe-trainee-2020</a></span>.
		My aim for this is to simply provide a platform where people can easily track their stock prices and after considering 
		every aspect of stock market they can invest and can get best returns from <span>stock market</span>.
		Here you select any item of your choice and set the price limit under which or at which you want to be informed 
		and then you got notifications about that item after every interval of time as per your choice .</center>
	</h4>
	</center>
	<h1 style="text-align:center;color:green">...............</h1>
</div>

<div class="conta">
    <h2 class="meet" style="text-align:left">| Following are the ways to reach me ></h2>
    <a class="contac" href="https://www.linkedin.com/in/arpan-malik/"><i class="fab fa-linkedin fa-3x"></i></a>
            <a class="cont contac" href="https://instagram.com/malik_arpan_7?igshid=1n4a0ds8iye9x"><i class="fab fa-instagram fa-3x"></i></a>
            <a class="contac" href="https://github.com/arpanmalik"><i class="fab fa-github fa-3x"></i></a>

            
        </div>
      
	
	<!--<div class="container">
		<a href="/about">Register</a>
		<br><br>
		<a href="/login">Login</a>
		<br><br>
		<a href="/tracker">Stock Price Tracking</a>
	</div>-->
</body>
</html>