body{
    margin: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    overflow-y: hidden;
}
.night{
    height: 80vh;
    width: 70vw;
    margin: 5rem auto;
    background: url(../car/assests/assets/Img_1.png);
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}
.surface{
    height: 140px;
    width: 500%;
    background: url(../car/assests/assets/Img_02.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    animation: moveRight 10s linear infinite;
}
.car
{
    position: absolute;
    bottom: 8%;
    left: 24%;
    animation: suspension 1s linear infinite;
}
@keyframes moveRight{
    100%{transform: translateX(-2950px);}
}
@keyframes suspension{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-1px);
    }
}