<body>
  <mat-spinner *ngIf="spinner">
  </mat-spinner>
  <div *ngIf="!spinner">
    <app-toolbar>
    </app-toolbar>
    <div>
      <div class=''>
        <div class=' alert warning' *ngIf="skills==''">
          No Skills Entered Please Enter some to know Your about Yout Work
        </div>
      </div>
      <div class=''>
        <div class='alert warn' *ngIf="image==''">
          You haven't Uploaded yout Profile Picture Yet!!!!
        </div>
      </div>
      <div class=''>
        <div class='alert success'>
          Your Rating: {{rating}}
        </div>
      </div>
      <div class=''>
        <div class='alert doubt' *ngIf='questions==0'>
          No Question Raised Yet!!!!Do it Faster
        </div>
        <div class='alert doubt' *ngIf='questions!=0'>
          Question Raised by me: {{questions}}
        </div>

      </div>
    </div>
  </div>
</body>