<a [routerLink]="['/profile']" routerLinkActive="router-link-active">My Profile
</a>
<a [routerLink]="['/solution']" routerLinkActive="router-link-active">My Solutions
</a>
<a [routerLink]="['/work']" routerLinkActive="router-link-active">My Work
</a>
<a [routerLink]="['/leaderboard']" routerLinkActive="router-link-active">LeaderBoard
</a>
<a [routerLink]="['/problems']" routerLinkActive="router-link-active">Problems
</a>
<a [routerLink]="['/techsupport']" routerLinkActive="router-link-active">Tech Support
</a>
<a [routerLink]="['/allproblems']" routerLinkActive="router-link-active">All Problems
</a>