<form novalidate #solution='ngForm' (submit)='onaddSol(solution)'> 
    <mat-form-field>
    <textarea placeholder="Solution Approach" rows="10" name="solapp" matInput #solapp='ngModel' ngModel>
    </textarea>
</mat-form-field>
<br>
<mat-form-field>
    <textarea placeholder="Code or Solution If Available" name='sol' #app='ngModel' ngModel
    rows="10" matInput>
    </textarea>
</mat-form-field>
<br>
<button mat-raised-button mat-dialog-close type="submit">
    Submit Solution
</button>
</form>