<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Application</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/5/q/5qiajui7s6.ico" type="image/x-icon" />    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" >
    <style>
        body, html {
  height: 100%;
}

.bg {
    padding: 0px;
    margin: 0px;
  /* The image used */
 

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    </style>
   
            
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>