<mat-form-field>
<input type='text' matInput list="apps" placeholder="Tech" id='tech'>
<datalist id='apps'>
</datalist>
</mat-form-field>
<br>
<mat-form-field>
<input type="text" matInput placeholder='Title' id="title">
</mat-form-field>
<br>
<mat-form-field>
    <input type="text" matInput placeholder="Explain Your Problem">
</mat-form-field>
<br>
<mat-form-field>
    <textarea matInput placeholder="Code"></textarea>
</mat-form-field>
<br>
<button mat-raised-button color='primary'>Submit Problem</button>