<% Object.keys(messages).forEach(function (type) { %>
    <div class="alert alert-<%= type %>">
        <% messages{type}.ForEach(function (messages) { %>
            <%= message %>
         <% }) %>   
    </div>
    <% }) %> 