mat-card{
    width: 80%;
    margin: 1rem auto;
}
mat-spinner{
    margin: 20% auto;
}
.solution{
    background-color: rgb(238, 234, 234);
    border-radius: 0.2rem;
    margin: 1rem;
    padding:0.5rem 1rem;
}
mat-divider{
    color: black;
}
.red{
    color: red;
}
.black{
    color: black;
}

.green{
    color: green;
}