<app-toolbar>

</app-toolbar>
<mat-spinner *ngIf='spinner'></mat-spinner>
<div *ngIf="!spinner">
    <div *ngFor="let problem of AllProblems">
        <mat-card>
            <h3>{{problem['problem']['title']}}</h3>
            <h4>{{problem['problem']['tech']}}</h4>
            <h4>{{problem['problem']['explain']}}</h4>
            <h4>{{problem['problem']['code']}}</h4>
            <div class='solution' *ngIf="problem['solution'].length==0">
                <p>
                    No Solution Posted yet
                </p>
            </div>
            <div class='solution' *ngFor="let sol of problem['solution']">
                <div>
                    <p>{{sol['sol']}}</p>
                    <p>{{sol['solapp']}}</p>
                </div>
                <button mat-icon-button (click)="toggle(sol['_id'])">
                    <mat-icon matBadge="{{sol['like'].length}}" matBadgePosition="before"
                    matBadgeColor="warn" [class]="like ? 'green' : 'black'">
                        thumb_up
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="togglered(sol['_id'])">
                    <mat-icon matBadge="{{sol['dislike'].length}}" matBadgePosition="before"
                    matBadgeColor="warn" [class]="dislike ? 'red' : 'black'">
                        thumb_down
                    </mat-icon>
                </button>
            </div>
            <button mat-stroked-button type="button" (click)='addsolution(problem["problem"]["_id"])'>Submit
                Solution</button>
        </mat-card>
    </div>
</div>