<mat-card>
  <form novalidate #registerForm='ngForm' (submit)="register(registerForm)">
    <div class="register">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" name="fname" #fname="ngModel" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" name="lname" #lname="ngModel" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Email ID" name="email" #email="ngModel" ngModel required email>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" name="password" #password="ngModel"
          ngModel required>
        <button mat-icon-button matSuffix type='button' (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" type="text" name="cpassword" #cpassword="ngModel" ngModel
          required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="number" placeholder="Mobile Number" name="phone" #phone="ngModel" ngModel required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" type="submit">
        Register
      </button>
      <p>
        Already a User?<a [routerLink]="['']" routerLinkActive="router-link-active"> Login here</a>
      </p>
    </div>
  </form>
</mat-card>