<!DOCTYPE html>
<html>
<head>
	<title>Login in</title>
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <style type="text/css">
  body{
    background-color:#3c2c3e;
  }
  a{
    text-decoration: none;
    color: #3c2c3e;
    font-weight: 900;
}
  a:hover{
    color: #d54062;
    text-shadow: 0 2px;
  }


  </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <!-- <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="/about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

    </ul>
  </div>
</nav>

	<div class="jumbotron"  style="background-color: #ffd5cd;">
	<div class="container">
	<div class="content-section">
        <form method="POST" action="">
            {{ log.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom:5px">Log In</legend>
                <div class="form-group">
                    {{ log.email.label(class="form-control-label") }}
                    {% if log.email.errors %}
                        {{ log.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in log.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ log.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ log.password.label(class="form-control-label") }}
                    {% if log.password.errors %}
                        {{ log.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in log.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ log.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
           </fieldset>
            <div class="form-group">
                {{ log.submit(class="btn btn-outline-info") }}
            </div>
            
        </form>
        
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Add New Account <a class="ml-2" href="{{ url_for('registration') }}">Sign Up Now</a>
        </small>
    </div>
     
</div>
</div>
</body>
</html>