

{% extends 'main/base.html'%}
    {% block content %}

    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
            <h1>Reset your password</h1>
        </div>
        <div class="card-body">
            <p>We've emailed you the instructions for setting up your password.</p>
            <p>If you don't receive an email, please make sure you've entered the exact e-mail address, which you had used at the time of registration.</p>
        </div>

        <!-- Pagination -->
  
      </div>
      </div>

      {% endblock %}