

{% extends 'main/base.html'%}
    {% block content %}

    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
            <h1>Reset your password</h1>
          </div>
          <div class="card-body">
            {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password" /></p>
            </form>

            {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
        </div>

        <!-- Pagination -->
  
      </div>

      {% endblock %}