
{% extends 'main/base.html'%}
    {% block content %}

    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
            <h1>Forgotten your password?</h1>
         </div>
         <div class="card-body">
            <p>Enter your e-mail address to obtain a new password.</p>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
        </div>

        <!-- Pagination -->
  
      </div>
      </div>

      {% endblock %}