mat-expansion-panel{
    width: 70%;
    margin: 1rem auto;
}
mat-panel-title{
    color:rgb(12, 89, 99);
    font-weight: 500;
    font-size: 21px;
}
mat-grid-tile {
    background:rgba(255, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 400;
    border-radius: 0.4rem;
    color: white;
    font-size: 21px;
    font-weight: 500;
  }
.leaderboard{
    position: relative;
    top: 150px;
}
mat-spinner{
    margin: 20% auto;
}