<mat-toolbar color='primary'>
    <button mat-icon-button type='button' class='icon' [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
    <div class='btnr'>
    <button type="button" class='btnr' mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active">
        My Profile
    </button>
    <button type="button" mat-button [routerLink]="['/solution']" routerLinkActive="router-link-active">
        My Solution
    </button>
    <button type="button" id='mywork' mat-raised-button  matBadge={{work}} matBadgePosition="after" 
    matBadgeColor="warn" [routerLink]="['/work']" routerLinkActive="router-link-active">
        My Work
    </button>
    <button type="button" mat-button [routerLink]="['/leaderboard']" routerLinkActive="router-link-active">
        Leaderboard
    </button>
    <button type="button" mat-button [routerLink]="['/problems']" routerLinkActive="router-link-active">
        My Problems
    </button>
    <button type="button" mat-button  (click)='techSup()'>
        Support
    </button>
    <button type="button" mat-button [routerLink]="['/allproblems']" routerLinkActive="router-link-active">
        All Problems
    </button>

    <button mat-raised-button color='accent' class='logout' (click)='logout()' type='button'>
        Log Out
    </button>
</div>
    
</mat-toolbar>